<p>Hola <%= @resource.email %>!</p>

<p>Has solicitado un cambio de contraseña, da click en el enlace de abajo para proceder al cambio de contraseña</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has echo esta peticion ignora este correo.</p>
